<h3>Créditos</h3>
<p><img src="../images/jesus.jpg" alt="Retrato de Jesús">
Autor: <%= autor %></p>
<video id="galeria" controls>
	<source src="../images/video.mp4" type="video/mp4">
	Tu navegador no soporta la pestaña de video.
</video>