
body             { font-size: small; background: #181E4A; }

section          {height: 200px}
span, section h3 {display: none;}
#page-wrap:after { content: "Smartphone Layout"; }

img              { border-radius: 50%; height:30px; width:30px;}
video            { height:50%; width:50%;}