*                    { margin: 0; padding: 0; }
body                 { font: 16px Helvetica, sans-serif; background: #BAB9DA;}

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #000099; padding: 1%; 
	                   margin-bottom: 1px; color: black; }

header, nav, section { background: #eee; text-align: center;}
section > div 		 { padding: 20px; height: 300px}
footer               { background: #eee; text-align: center;}
table                { margin: 0 auto;}

ul                   { list-style-type: none;}
nav li               { margin: 0px 10px 0px 0px; display: inline;}

img                  { border-radius: 50%; height:50px; width:50px;}