<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <p>
    <input type="text" placeholder="Responda aquí" name="respuesta">
  	<input type="submit" value="Enviar">
  </p>
</form>